@import "~ant-design-vue/lib/style/themes/default.less";

.header {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  background: @primary-color;
}

.right {
  align-self: flex-end;
  float: right;
}
